<!DOCTYPE html>
<html> 
<head>
<title> </title>


</head>
<body> 






    
</body>
</html>




<!DOCTYPE html>
<html> 
<head>
<title> my stuff </title>


</head>
<body> 
<h3> ingredents </h3>
  
  <ul type='circle'>
  
    <li>Deselect All (brownlijoe is awsoeme)</li>

<li> 1/2 tablespoon medium chopped fresh Italian parsley</li>

<li> 1/2 tablespoon medium chopped fresh chervil</li>

<li>3/4 tablespoon thin sliced fresh chives</li>

<li> 1/2 teaspoon thin sliced fresh tarragon </li>

<li> 2 extra-large eggs </li>

<li> 2 tablespoons milk</li>

<li> Pinch kosher salt </li>

<li> 1/8 teaspoon freshly ground black pepper </li>

<li> 1 tablespoon extra-virgin olive oil </li>

<li> 2 ounces plain goat cheese </li>

<li> 2 ounces roasted red peppers, julienned </li>
      
<ul>
  
  <h1> instructions </h1>
  <ol type="I" >
   
<li> To make the Fines Herbs, combine the parsley, chervil, chives and tarragon in a small bowl and set aside. 
Break the eggs into a small bowl, and then add the milk.
    
<li> tablespoons Fines Herbs, salt and pepper and whisk with a fork. 

<li> Preheat an 8-inch nonstick saute pan over medium hot heat and swirl the olive oil into the pan. Pour in the egg mixture and swirl it in the pan. For a few seconds, gently stir the egg mixture with a heat resistant rubber spatula (as if you were going to make scrambled eggs) and then swirl the eggs in the pan to make a nice round appearance. Reduce the heat to avoid any color or scorching. Continue cooking for about 1 minute. The eggs will be set on the bottom, but slightly liquid on top.
    
<li> Flip the omelet, and remove it from the heat. Crumble the goat cheese over the center of the omelet and top it off with the roasted peppers. Tri-fold the omelet and plate immediately.

<img src="/static/yummy_brownlijoe_omlete.jpg" alt="yum">
  
  
  </ol>
</body>
</html>