<!DOCTYPE html>
<html>
<head>
<title> no i wont </title>
<style>
    body{
        color:cadetblue;
    background-color:black;
        font-size: xx-large;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        padding: 100px;
        margin: 100px;
    }

select{

background-color: cadetblue;
color:black;
font-size: xx-large;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}
</style>
</head>
<body>
<form>
<label for="hdhg"></label>
    <p>i did not know what i put for the title.</p>
<select name="hdhg" id="hdhg">
<optgroup value="weirdness" label="weirdness"> 
<option value="112">whatever i want</option> 
<option value="211">whatever i don't want</option>
<option value="121">whatever i kinda want</option>
</optgroup>
</select>
<br><br><br>
<!-- <img src="../static/stonks.png" alt="lol" width="150px" height="150px"> -->
</form>
</body>
</html>
