<!DOCTYPE html>
<html> 
<head>
<title> NEWS FROM SPACE</title>


</head>
<body> 

    <h1> News About SPACE</h1>
        <h2> About Space Elavators</h2>
        <h3> Fetures </h3>
        <h4> Requirements to build space Elavators</h4>
        <h5> Desciption </h5>
        <h6> Explaination </h6>
        <h2> About life in SPACE</h2>
        <h3> Descirption About life in SPACE </h3>

 
<p> Take Risks In Your Life<br> If You Win You Will Lead<br> If You Lose You Can Guide<br></p>


</body>
</html>



